.formMainWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.formInnerWrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
    padding: 20px;
    border: 1px solid rgba(128,128,128,.1);
}

.formTitle {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: var(--text) !important;
    font-size: 22px;
    font-weight: bolder;
    border-bottom: 1px dashed rgba(128,128,128,.1);
    margin-bottom: 25px;
}

.mb5 {
    margin-bottom: 20px;
}

.formLabel {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: var(--main);
    margin-bottom: 12px;
}

.formInput {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}

.formInput:focus {
    border-color: var(--main);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.formBtn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: bold;
    background-color: rgba(42,159,92, .9);
    color: white;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out .1s;
    letter-spacing: 2px;
}

.formBtn:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    background-color: rgba(42,159,92, 1);
}

.formFileInput {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.formFileInput .formAvatarEdit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.formFileInput .formAvatarEdit input {
    display: none;
}

.formFileInput .formAvatarEdit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.formFileInput .formAvatarEdit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.formFileInput .formAvatarEdit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.formFileInput .formAvatarPreview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.formFileInput .formAvatarPreview > div,
.formFileInput .formAvatarPreview > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.radio {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio:nth-child(3) {
    margin-left: 20px;
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio input:checked ~ .checkmark {
    background-color: var(--main);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio input:checked ~ .checkmark:after {
    display: block;
}

.radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

