* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar {
    background-color: var(--bg);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
    width : 100%;
    border-bottom: rgba(128,128,128,.1) solid 1px;
}

.logo {
    position: relative;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333133;
}

.logo img {
    margin-top: 10px;
}

.logo:after {
    content: "Task";
    position: absolute;
    font-size: 12px;
    bottom: 15px;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    height: 70px;
}

.navLink {
    color: #333133;
    padding: 23px 15px;
    border-right: 1px solid rgba(128,128,128,.1);
}

.navLink.active {
    color: var(--main);
    border-bottom: var(--main) 2px solid;
}

.navLink:not(:last-child) {
    border-bottom: var(--main) 2px solid;
    color: #333133;
}

/* media */
@media screen and (max-width: 780px) {

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: #120f0b;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */
    .navMenu {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: aliceblue;
        padding: 10px;
    }

    .navMenu.active {
        left: 0;
    }

    .navMenu li {
        margin: 16px 0;
    }
}